# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
!make.exe
*.out
*.app
*.i*86
*.x86_64
#*.hex

# Debug files
*.dSYM/

#Rusty's VS Folder
SRE2

#VCU build files
AddAPDB.html
build

release/*
cc3232a
cc12248a

#PCAN simulations
PCAN

#All code
*.c*
*.h*

#Batch files
*.bat

#PS1 files
_make.ps1

#Pictures
*.jpg

#Miscellaneous
flash.cmm
cc180a
